<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940623941642-87fcaiossue27sfjuun98c8f7sv5duom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940623941642-87fcaiossue27sfjuun98c8f7sv5duom</string>
	<key>API_KEY</key>
	<string>AIzaSyBEbdSJusts9kUENdCDWaQwEIBjRqIL3hg</string>
	<key>GCM_SENDER_ID</key>
	<string>940623941642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-db71b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-db71b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940623941642:ios:2cd0e1a4a90d3806f44ff3</string>
</dict>
</plist>